/* CSS Document */

.mi-seccion {
  background-color: #336699; /* Color de fondo */
  color: #E9DADA; /* Color de texto */
}

header {
	background-image: url("../img/fondo_iglesia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 10rem;
}


.hero-section {
  position: relative;
  overflow: hidden;
}

.divider {
  width: 100px;
  height: 4px;
  opacity: 0.8;
}

@media (min-width: 992px) {
  .hero-section .lead {
    font-size: 1.35rem !important;
  }
}


/* RESPONSIVE CSS