/* CSS Document */

body {
  background-color: #336699; /* Color de fondo */
}

.mi-seccion {
  background-color: #336699; /* Color de fondo */
  color: #E9DADA; /* Color de texto */
}


/* RESPONSIVE CSS